.advantages {
  //background-color: @white; временно
  min-height: 1010px;//временно для сетки
}

.advantages__slogan {
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: @dark;
  width: 260px;
  min-height: 150px; //для сетки
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @tabletwidth) {
  .advantages__slogan {
    width: 600px;
    min-height: 170px;// для сетки
  }
}

@media (min-width: @desktopwidth) {
  .advantages__slogan {
    width: 1140px;
    min-height: 255px;// для сетки
  }
}

.advantages__slogan--question,
.advantages__slogan--question {
  display: block;
}

.advantages__list {
  .unstyle;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
  min-height: 790px;//временно для сетки
  // background-image: url("../../img/bg-triangle-white.svg"); временно
  // background-repeat: no-repeat;
  // background-color: @lightGrey;
  display: flex;
  flex-direction: column;
}

.advantages__item:last-child {
  display: none;
}

.advantages__title {
  color: @black;
  font-size: 18px;
  line-height: 24px;
}

.advantages__item {
  width: 280px;//временно
  min-height: 130px; //временно для сетки
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}



@media (min-width: @tabletwidth) {
  .advantages__list {
    width: 620px;//временно
    min-height: 850px; //временно для сетки
    align-items: flex-end;
  }

  .advantages__item {
    width: 320px;//временно
    min-height: 140px; //временно для сетки
  }

  .advantages__item:last-child {
    display: block;
    margin-top: auto;
  }
}

@media (min-width: @desktopwidth) {
  .advantages__list {
    width: 940px;//временно
    min-height: 1050px; //временно для сетки
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .advantages__item {
    width: 270px;//временно
    min-height: 230px; //временно для сетки
  }

  .advantages__item:last-child {
    display: block;
    margin-left: auto;
  }
}
