.advantages {
  background-color: @white;
}

.advantages__slogan {
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: @dark;
}

.advantages__list {
  .unstyle;
  text-align: center;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-color: @lightGrey;
}

.advantages__title {
  color: @blackHead;
  font-size: 18px;
  line-height: 24px;
}

.advantages__item {
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}
