// .download-app {
//   // background-color: @black; временно
// }

// .download-app {
//   // background-color: @black; временно
// }

.download-app__download {
  color: @white;
  // background-color: @black; временно
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.download-app a {
  .unstyle;
}

.download-app p {
  color: @white;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
