.main-nav__list,
.main-nav__list a {
  font-size: 18px;
  .unstyle;
  .uppercase;
}

.main-nav,
.main-nav a {
background-color: @blackHead;
color: @white;
}

.main-nav__toggle {
  color: @white;
  background-image: url(../../img/icon-menu-cross.svg);
  background-repeat: no-repeat;
  background-color: @blackHead;
}
