.user-photos {
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.user-photos__title {
  .intro-font;
}

.user-photos__subtitle {
  .subtitle-font;
}

.user-photos__list {
  list-style: none;
}
