.user-photos {
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.user-photos__title {
  .intro-font;
}

.user-photos__subtitle {
  .subtitle-font;
}

.user-photos__list {
  list-style: none;
}

.user_photos__text {
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  color: @dark;
}

.user-photos__author-name {
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  font-weight: bold;
  color: @dark;
}

.user-photos__time {
  font-weight: 300;
  font-size: 12px;
  .uppercase;
}

.user-photos__like {
  color: @lipstick;
}
