.welcome {
  background-color: @blackHead;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.welcome__slogan {
  .intro-font;
}

.download-app {
  background-color: @blackHead;
}

.download-app__download {
  color: @white;
  background-color: @blackHead;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.download-app a {
  .unstyle;
}

.download-app p {
  color: @white;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
